@import '../styles/vars.scss';
@import '../styles/mixins.scss';

.wrap {
  width: $large-width;
  margin: 50px auto 0;
  min-height: 101vh;
  padding: 0 20px;
  @include large {
    width: $desktop-width;
  }
  @include desktop {
    width: $tablet-width;
  }
  @include tablet {
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 0 0;
  }

  .search-form {
    position: sticky;
    top: 0;
    z-index: 4;
    @include tablet {
      position: relative;
    }
    .MuiPaper-root {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 40px 20px;
    }
    .input-container {
      width: 65%;
      padding: 0 20px 0 0;
      @include tablet {
        width: 100%;
        padding: 0 0 20px 0;
      }
      .MuiFormControl-root {
        width: 100%;
      }
    }
    .buttons-group {
      width: 35%;
      @include tablet {
        width: 100%;
        text-align: right;
      }
      button {
        margin: 0 8px;
      }
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    .content-box {
      width: 65%;
      padding: 50px 20px;
      @include large {
        width: 100%;
        padding: 30px 0 0 0;
      }
      .MuiGridList-root {
        min-height: 60vh;
      }
    }
    .saved-queries-container {
      width: 35%;
      padding: 0 20px 0 0;
      margin: 60px 0 0 0;
      > div {
        height: 100%;
      }
      @include large {
        display: none;
      }
      .saved-queries {
        position: sticky;
        top: 150px;
        max-height: calc(100vh - 255px);
        overflow: auto;
        padding: 0 20px 20px 20px;
        .historyListHeader {
          position: sticky;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: $white-color;
          padding: 20px 0 10px 0;
          z-index: 2;
          .title {
            font-size: 18px;
            font-weight: bold;
          }
        }
      }
    }
  }
}
