.wrap{
    width: 1200px;
    margin: 50px auto 0;
    min-height: 101vh;
	padding: 0 20px;
	@media only screen and (max-width : 1200px) {
        width: 1024px;
    }
    @media only screen and (max-width : 1024px) {
        width: 768px;
    }
    @media only screen and (max-width : 768px) {
        width: 100%;
        padding: 0 10px;
        margin: 30px 0 0 0;
    }

    .search-form{
        position: sticky;
        top: 0;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        padding: 40px 20px;
        border-radius: 5px;
        background-image: url('../images/bg.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 4;
        @media only screen and (max-width : 768px) {
            position: relative;
        }
        .input-container{
            width: 65%;
            padding: 0 20px 0 0;
            @media only screen and (max-width : 768px) {
                width: 100%;
                padding: 0 0 20px 0;
            }
        }
        .buttons-group{
            width: 35%;
            @media only screen and (max-width : 768px) {
                width: 100%;
            }
        }
    }

    .row{
        display: flex;
        flex-wrap: wrap;
        .content-box{
            width: 65%;
            padding: 0 20px;
            @media only screen and (max-width : 1200px) {
                width: 100%;
                padding: 0;
            }
        }
        .saved-queries-container{
            width: calc(35% + 5px);
            padding: 0 20px 0 0;
            margin: 60px 0 0 -5px;
            @media only screen and (max-width : 1200px) {
                display: none;
            }
            .saved-queries{
                border: 1px solid #2d2d2d;
                padding: 20px;
                border-radius: 5px;
                span{
                    display: block;
                    text-align: right;
                    margin: 0 0 10px 0;
                    &:first-of-type{
                        font-weight: bold;
                        font-size: 45px;
                    }
                    &:nth-of-type(2){
                        font-weight: bold;
                        font-size: 40px;
                    }
                    &:nth-of-type(3){
                        font-weight: bold;
                        font-size: 35px;
                    }
                }
            }
        }
    }

}



