@import '../..//styles/vars.scss';
@import '../../styles/mixins.scss';

.Default-block {
  margin: 10px 0 0 0;
  text-align: left;
  h1 {
    font-weight: bold;
    font-size: 80px;
    line-height: 1.5;
    @include tablet {
      font-size: 60px;
    }
  }
  p {
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 1.5;
    margin: 5px 0 0 0;
  }
}
