@import "../../../styles/vars.scss";
@import "../../../styles/mixins.scss";

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: calc(50% - 5px);
  margin: 0 10px 0 0;
  padding: 14px 20px;
  border: 1px solid $black-color;
  transition: 0.2s;
  &:last-of-type {
    margin: 0;
  }
  &.primary {
    color: $white-color;
    background-color: $black-color;
  }
  &.secondary {
    color: #2d2d2d;
  }
  &:hover {
    background-color: $white-color;
    border: 1px solid $white-color;
    color: $black-color;
  }
  &:disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
  }
}
