@import '../..//styles/vars.scss';
@import '../../styles/mixins.scss';

.Img-item {
  padding: 10px;
  .MuiPaper-root {
    height: 100%;
  }
  .MuiCardMedia-root {
    padding: 0 0 140% 0;
  }
}
