@import "../../../styles/vars.scss";

.Input {
  width: 100%;
  background-color: rgba($gray-color, 0.8);
  padding: 12px 20px;
  transition: 0.2s;
  &:focus {
    background-color: $white-color;
  }
}
