@import "../../styles/vars.scss";
@import "../../styles/mixins.scss";

.Img-list {
  display: flex;
  flex-wrap: wrap;
  margin: 50px -10px;
  @include large {
    width: calc(100% + 30px);
  }
  @include tablet {
    width: calc(100% + 10px);
    margin: 30px -5px;
  }
}
